.form-item .error-tip {
    /* display: none; */
    line-height: 13px;
    color: #d80000!important;
    position: absolute;
    left: 0;
    right: auto;
    top: auto;
    bottom: -20px;
    font-size: 13px;
    letter-spacing: 1px
}
.form-item .error-name{
    display: none;
}
.form-item .error-tel{
    display: none;
}
